MONGO_URI=mongodb+srv://rahulkumariit59_db_user:J9zX2FKSxzSVODcE@cluster0.7cry0lx.mongodb.net/eventbooking?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecretjwtkey_eventora
EMAIL_USER=odomon188@gmail.com
EMAIL_PASS=uquwzafhiikcnhkd
PORT=5000
